.login{
    display: grid;
    place-items: center;
    height: 100vh;
    width: 100%;
}

.login > div > img{
    object-fit: contain;
    height: 200px;  

}

.login > Button {
    width: 300px;
    background-color: #738adb;
    color: white;
}

.login > Button:hover {
    background-color:black ;
    color: #738adb;
}

